@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}
.navbar {
  padding: 0.8rem;
}

.navbar li {
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: 0;
}
.carousel-inner {
  background: black;
}
.carousel-inner img {
  width: 100%;
  height: 85vh;
  opacity: 0.4;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
}

.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  padding-bottom: 1rem;
}

.btn-primary {
  background-color: #f97a1f;
  border: 1px solid #f97a1f;
}
.btn-primary:hover {
  background-color: #c57d4a;
  border: 1px solid #c57d4a;
}

.padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}
.fa-check-circle {
  color: #e54d26;
}
.fa-utensils {
  color: #f54b4b;
}
.fa-clipboard-check {
  color: #2163af;
}
.fa-bullseye {
  color: #563d7c;
}
.fa-heart {
  color: #2163af;
}
.fa-check-circle,
.fa-utensils,
.fa-clipboard-check,
.fa-bullseye,
.fa-heart {
  font-size: 4em;
  margin: 1rem;
}
.dish-card .card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.dish-card .card-body {
  background-color: #f5f5f5;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-google-plus-g {
  color: #dd4b39;
}

.fa-instagram {
  color: #517fa4;
}
.fa-youtube {
  color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-caption {
    top: 50%;
    right: 3%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  }
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    top: 50%;
    right: 3%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2em;
    padding: 0.7rem;
  }
}

/* contact form */
.form-group .success {
  border-color: #2ecc71;
}

label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px;
}

.form-control {
  border-radius: 10px;
}

input[placeholder] {
  font-weight: 500;
}

.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #0779e4;
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* Restaurant page section */

.res-card .card {
  flex-direction: row;
  align-items: center;
}
.res-card .card-title {
  font-weight: bold;
}
.res-card .card img {
  width: 80%;
  height: 40vh;
  object-fit: cover;
}
.res-card .card {
  background-color: #f5f5f5;
}
@media only screen and (max-width: 768px) {
  .res-card .card-body {
    padding: 0.5em 1.2em;
  }
  .res-card .card-body .card-text {
    margin: 0;
  }
  .res-card .card img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .res-card .card img {
    width: 40%;
  }
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
